body {
  font-family: monospace;
  background-color: rgb(193, 211, 214);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.box {
  width: 500px;
  height: 100px;
  background-color: bisque;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 300px;
  margin-left: 100px;

  transform: rotate(-90deg);
}

.form {
  display: flex;
  align-items: center;
}
